.countryDetail {
    padding: var(--padding);
    background-color: var(--veryLightGrayBg);
}
.countryDetailDark{
    background-color: var(--veryDarkBlueBg);
        color: var(--white);
}
p {
    margin-top: 1rem;
    line-height: 1.5;
}

span {
    font-weight: 800;
}

.marginTop {
    margin-top: 3rem;
}

.countryDetail img {
    height: 45rem;
    object-fit: cover;
    width: 50%;
}

.backButton {
    width: 12rem;
    box-shadow: 0px 0px 14px 0px rgba(139, 135, 135, 0.73);
    -webkit-box-shadow: 0px 0px 14px 0px rgba(139, 135, 135, 0.73);
    -moz-box-shadow: 0px 0px 14px 0px rgba(139, 135, 135, 0.73);
    padding: 0.7rem;
    border-radius: 0.5rem;
    cursor: default;
    justify-content: center;
}

.countryDetail .detailBody {
    margin-top: 5rem;
    justify-content: flex-start;
    gap: 5rem;
}

.countryDetail .detailsContent {
    align-items: flex-start;
    gap: 10rem;
}

.border {
    border-radius: 0.5rem;
    margin-top: 1rem;
    cursor: default;
    width: 16.5rem;
    padding: 0.3rem 0.8rem;
    box-shadow: 0px 0px 14px 0px rgba(139, 135, 135, 0.73);
    -webkit-box-shadow: 0px 0px 14px 0px rgba(139, 135, 135, 0.73);
    -moz-box-shadow: 0px 0px 14px 0px rgba(139, 135, 135, 0.73);
}