.header,
.secondHeader {
    background-color: var(--white);
    color: var(--veryDarkBlueText);
    padding: var(--padding);
    cursor: default;
}

.headerDark,
.secondHeaderDark {
    background-color: var(--darkBlueEl);
    color: var(--white);
}