@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --darkBlueEl: hsl(209, 23%, 22%);
  --veryDarkBlueBg: hsl(207, 26%, 17%);
  --veryDarkBlueText: hsl(200, 15%, 8%);
  --darkGray: hsl(0, 0%, 52%);
  --veryLightGrayBg: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --padding: 2.5rem;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5rem;
}

.main {
  background-color: var(--veryLightGrayBg);
  padding: var(--padding);
}

.mainDark {
  background-color: var(--veryDarkBlueBg);
  color: var(--white);
}

.rowFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.countries {
  flex-wrap: wrap;
  gap: 5rem;
  padding-top: var(--padding);

}


.countries .card {
  cursor: pointer;
  width: 20%;
  margin: 0.5rem 0;
  padding-bottom: 2rem;
  height: 50rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 5px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px -3px rgba(0, 0, 0, 0.75);
}

.countries .card img {
  width: 100%;
  object-fit: cover;
  height: 60%;
}

.countries .card .card__info {
  padding: 0.5rem 1rem;
  margin: 1.5rem 0.5rem;
}

.countries .card .card__info span {
  color: var(--veryDarkBlueText);
  font-weight: 600;
}

.mainDark .card .card__info span {
  color: var(--white);
}

.mainDark .card {
  box-shadow: 0px 0px 29px -6px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 0px 0px 29px -6px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 0px 29px -6px rgba(0, 0, 0, 0.57);
}

.countries .card .card__info div {
  margin-top: 1rem;
}

.countries .card .card__info div p {
  margin-top: 0.2rem;
}

.countries .card #name {
  color: var(--veryDarkBlueText);
  font-weight: 800;
}

.mainDark .card #name {
  color: var(--white);
}